body, html {
  height: 100%;
  margin: 0;
}



header {
    /*background:  url("unnamed.png")  no-repeat;*/
    content: url("unnamed.png");
    position: static;
    background-size: cover;
    width: 100%;
    /*height: calc(0.162*100vw);*/
    top:0px;
    left:0px;
    opacity:1;
    padding:0;
    background-position: center top;
    background-origin: border-box;
    background-clip: border-box;
    margin: 0px;
}



nav.stick {
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content:space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 0px;
    font-size: 20px;
    outline: 0px;
}

/*
table, tr {
    width: 100%;
    border: none;
    border-collapse:collapse;
    padding: 0px;
    margin:0px;
    border-spacing:0px 0px;
    column-gap:0px;
    column-fill:auto;
    outline-width:0pt;
}
*/

button {
    display:flex;
    width:100%;
    justify-content:center;
    text-align:center;
    padding: 10px;
    background-color: darkblue;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    vertical-align:middle;
    font-size: 17px;
    align-items:center;
}

button:hover {
    background-color: blue;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  nav.stick {

      flex-direction: column;
      height: 100%;
  }

  button {
  height: 100%;
  font-size:5vw;
  }
}
@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  nav.stick {

      flex-direction: row;
  }
}
